<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Example usage:</p>
    <div class="code">
      <p>http://micimagesearch.herokuapp.com/api/imagesearch/test</p>
      <p>http://micimagesearch.herokuapp.com/api/latest/imagesearch</p>
    </div>
  </body>
</html>
