<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please click <a href="http://micrequestheaderparser.herokuapp.com/whoami">http://micrequestheaderparser.herokuapp.com/whoami</a> to get your requester header information</p>
  </body>
</html>
