<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>-----------------------</div>
    <div>
        <p>Example creation usage:</p>
        <p><a href="http://micshortenerurl.herokuapp.com/url/http://www.baidu.com">http://micshortenerurl.herokuapp.com/url/http://www.baidu.com</a></p>
    </div>
    <div>-----------------------</div>    
    <div>
        <p>Example creation output:</p>
        <code>{"original_url":"http://www.baidu.com","short_url":"http://micshortenerurl.herokuapp.com/url/0"}</code>
    </div>
    <div>-----------------------</div>
    <div>
        <p>Usage:</p>
        <p><a href="http://micshortenerurl.herokuapp.com/url/0">http://micshortenerurl.herokuapp.com/url/0</a></p>
    </div>
    <div>-----------------------</div>
    <div>
        <p>Will redirect to:</p>
        <p><a href="http://www.baidu.com">http://www.baidu.com</a></p>
    </div>
  </body>
</html>
