*{
    padding:0;
    margin:0;
}
html{
    height:100%;
    overflow:hidden;
}
#scoreRecorder, #levelRecorder{
    color:white;
    font-size:2.5em;
}
body{
    background:url('../pic/back.jpg') no-repeat;
    background-color:black;
}
.classPlane{
    position:absolute;
    display:none;    
    top:0;
}
#bombPlayer,#backPlayer,#errorPlayer{
    visibility:hidden;
    position:absolute;
}
#record{
    float:left;
}
#scoreRecorder,#levelRecorder{
    visibility:hidden;
}
#menu{   
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    padding:20px 0px;
}
#bloods{
    visibility:hidden;
}
#bloods img{
    float:right;
    width:50px;
}
#Introduction{
    position:absolute;
    top:15%;
    width:100%;
    text-align:center;
    font-size:2.5em;
    color:white;
}
button{ 
    border-radius:50%;
    background-color: yellow; /* Green */
    border: 5px solid grey;
    color: black;
    padding:15px;
    margin:15px;
    height:150px;
    width:200px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}
button:active{
    background-color: black;
    color:white;
}