*{
    margin: 0px;
    padding: 0px;
}
#game-header{
    color: #ddd;
    text-align: center;
    background-color: #333;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    font-family: Courier New, Courier, monospace;
}
.game-button{
    width: 100px;
    height: 30px;
    margin: 4px 8px 0 8px;
    float: left;
    font-size: 20px;
    border-radius: 5px;
    background: #222;
    color: #ddd;
    cursor: pointer;
}
.game-button.longer-button{
    width: 140px;
}
.game-button.activeButton{
    background: #faa;
    color: #222;
}


.cell:hover{
    border: 1px solid red;
    border-bottom: 0px;
    border-right: 0px;
}
.cell.dead{
    background: black;
}

.clear-all{
    clear: both;
}

.game-body{
    clear: both;
}
.cell{
    font-size: 9px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #333;
    border-left: 1px solid #222;
    margin: 0px;
    display: inline-block;
    background-color: #fbb;
    cursor: pointer;
}