*{
	padding: 0px;
	margin: 0px;
}
.clear-all{
	clear: both;
}
#content{
	height: 100%;
	background: #333;
}
#markdown-title{
	text-align: center;
	color: white;
	height: 80px;
}
#markdown-content {
	background: white;
	width: 80%;
	height: calc(100% - 140px);
	border-radius: 10px;
	margin: 10px auto;
	padding: 10px;
}
#markdown-src,
#markdown-des {
	height: 45%;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 10px;
	overflow: auto;
}
#markdown-src textarea{
	width: 100%;
	height: calc(100% - 30px);
	font-size: 20px;
}